 html,body {

    width: 100%;

    height: 100%;

}

.node circle {

  fill: #fff;

  stroke: black;/*steelblue;*/

  stroke-width: 1.5px;

}



.node {

  font: 14px sans-serif;
  color: red;

}



.link {

  fill: none;

  stroke: #ccc;

  stroke-width: 1.5px;

}



.link2 {

  fill: none;

  stroke: #acc;

  stroke-width: 1.5px;

}



.arcotxt {

  font-size: xx-large;

}



div.tooltip {	

    position: absolute;			

    text-align: center;			

    width: 180px;					

    height: 42px;					

    padding: 2px;				

    font: 12px sans-serif;		

    background: lightsteelblue;	

    border: 0px;		

    border-radius: 8px;			

    pointer-events: none;			

}



div.tooltip2 {	

    position: absolute;			

    text-align: center;			

    width: 180px;					

    height: 42px;					

    padding: 2px;				

    font: 12px sans-serif;		

    background: lightred;

    border: 0px;		

    border-radius: 8px;			

    pointer-events: none;			

}



div.info {	

    position: absolute;			

    text-align: center;			

    width: 320px;					

    height: 280px;					

    padding: 2px;				

    font: 12px sans-serif;		

    background: steelblue;	

    border: 0px;		

    border-radius: 8px;			

		

}

